
<header>
  <div class="container">
    <div class="row" >
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-z0h3raPjNsGpFeZ6u3AquQxlmYjox7lLC6VfNLeiMQI4hqWip1WnW0YMiE7jmI6hhek&usqp=CAUhttps://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-z0h3raPjNsGpFeZ6u3AquQxlmYjox7lLC6VfNLeiMQI4hqWip1WnW0YMiE7jmI6hhek&usqp=CAU" alt="flower" width="60">
        </div>
      </div>
      <div  class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu">
          <ul>
            <li class="nav-item"><a href="#" class="nav-link active" routerLink="/"> Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" routerLink="/flower">Flowers</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" routerLink="/about">About Us</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" routerLink="/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
