<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<footer class="bg-dark text-center text-white" style="padding-top: 1%;">

    <div class="container p-4">
      <section class="mb-4">

        <a  class="btn btn-outline-light btn-floating m-1" href="#!" role="button" >
          <i class="fab fa-facebook-f"></i></a>
  
        <a  class="btn btn-outline-light btn-floating m-1" href="#!" role="button" >
          <i class="fab fa-twitter"></i></a>
  
        <a  class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-google"></i></a>
  
         <a  class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-instagram"></i></a>
  
         <a  class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-linkedin-in"></i></a>
  
         <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-github"></i></a>
      </section>
  
       <section class="">
        <form action="">
           <div class="row d-flex justify-content-center">
             <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for shopping</strong>
              </p>
            </div>
 
            <div class="col-md-5 col-12">
    
                <input type="email" id="form5Example24" class="form-control" />
                <label  class="form-label" for="form5Example24">Email address</label>
            
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-light mb-4">
                Sign Up
              </button>
            </div>
 
          </div>
 
        </form>
      </section>
 
       <section class="mb-4">
        <p>
            We are a brand that provide our users with
            free information about flower and helps the users
            to choose the best choice for them.
        </p>
      </section>
     <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://tazu09.github.io/Pandakohi/">Shweta</a>
    </div>
 
    </div>
    </footer>
