
header{
  padding: 12px;
  background-color: rgb(52, 71, 82);
}

.menu{
  margin-top: 12px;
}
.menu ul{
  padding: 0;
  margin: 0;
}

.menu ul li{
  list-style-type: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin-left: 24px;
  font-size: large;
  font-family: cursive;
}

.menu ul li:hover{
  color:rgb(158 213 215);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}